<style type="text/css">

.aduinsas{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1511118238/btcf_cjuca1.jpg);
  background-position:center;
  min-height: 200px;
}

</style>



<section class="aduinsas">
  <div class="container">
    <div class="row" style="margin-top: 60px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">About Bitcoindua</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-5" style="background-color: #ffffff;">
      <div class="container">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; text-align: justify;">
            <span style="font-weight: 700;">About Us</span><br>
            Founded in 2014 based in Ghana, Bitcoindua is a platform for buying and selling Bitcoin.

Bitcoin is a paperless, borderless, peer-to-peer digital currency not akin to any state or government.

It's peer-to-peer nature means there is no central authority such as bank in other for transactions to be processed.

With Bitcoin anyone, anywhere with a smartphone or laptop and Internet can make and receive payment instantly at a very small cost.

Bitcoin is the most popular alternative currency with a total market cap of approximately $10 Billion.

It has been dubbed "digital gold", "the future of money" , among others because of its tremendous ability as a store of value.

Bitcoin is doing to money what email did to snail mail.
<br><br>
<span style="font-weight: 700;">Mission</span><br>

Our mission is to bring to the average Ghanaian consumer and entrepreneur the opportunities Bitcoin brings as a global payments network.

We believe it's the highest leveraged way to bring about more economic freedom, efficiency and equality to consumers and entrepreneurs alike, 
banked and un-banked in this technology and digital age.

Imagine if anyone with an idea for a product or service could receive payments from customers all over the world from day one instantly and at a very small cost.
Envision being able to access the same financial infrastructure of the developed world with just a computer or smartphone and Internet, anywhere.

Perceive every payment to anyone anywhere in the world was as fast and cheap as sending an email.
           </p>
          </div>
        </div>
      </div>
</section>