
<style type="text/css">

.aduinsas{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(http://res.cloudinary.com/nikasemo/image/upload/q_42/v1511140329/qs_fhvxni.jpg);
  background-position:center;
  min-height: 200px;
}

</style>



<section class="aduinsas">
  <div class="container">
    <div class="row" style="margin-top: 60px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Frequently asked Questions</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-5" style="background-color: #ffffff;">
      <div class="container">
        <div class ="row">
          <div class="col-sm-12">
           <div id="accordion" role="tablist" style="border: 1px solid #61a143; border-radius: 5px;">
  <div class="card">
    <div class="card-header" style="background-color: white;" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span style="color: #000; font-size: 16px; color: #61a143; font-weight: 700; font-family: 'Poppins', sans-serif;">What is Bitcoin?</span>
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" style="border: 1px solid #61a143; border-radius: 5px; font-weight: 300;">
        Bitcoin is "digital cash", an innovative new currency designed for the Internet. With Bitcoin anyone, anywhere with a smartphone and Internet can send or receive money instantly at a very small cost.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" style="background-color: white;" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span style="color: #000; font-size: 16px; color: #61a143; font-weight: 700; font-family: 'Poppins', sans-serif;">Are there Any Fees for Using Your service?</span>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body" style="border: 1px solid #61a143; border-radius: 5px; font-weight: 300;">
        There are no fees for using our service. However, your preferred payment method might attract a service charge which is beyond our control and therefore not considered as a charge for using our service.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" style="background-color: white;" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span style="color: #000; font-size: 16px; color: #61a143; font-weight: 700; font-family: 'Poppins', sans-serif;">What is Bitcoin Price?</span>
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body" style="border: 1px solid #61a143; border-radius: 5px; font-weight: 300;">
        Bitcoin Buy and Sell rates are displayed on the homepage of our website. This rate is subjected to change from time to time determined by the demand and supply of Bitcoin and Foreign Exchange Markets.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" style="background-color: white;" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          <span style="color: #000; font-size: 16px; color: #61a143; font-weight: 700; font-family: 'Poppins', sans-serif;">Can I Sell Bitcoin to Bitcoindua?</span>
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body" style="border: 1px solid #61a143; border-radius: 5px; font-weight: 300;">
        Yes, we also buy your Bitcoin for cash at our office or mobile money payments. After registration, sign in and click " Sell ". Follow the procedure. It's as easy as buying from us.
      </div>
    </div>
  </div>

</div>
          </div>
        </div>
      </div>
</section>

<script type="text/javascript">
$('.collapse').collapse()
</script>