<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1525425047/crytocoursehead_elosnq.jpg" alt="Crytofour Email course Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    
<span style="font-weight: 700; font-size: 14px;">[Lesson 6 <span style="font-weight: 300;">out of</span> 7]</span><br><br>
<span style="font-weight: 700">Bitcoin investment is all about the numbers. Diving deeper!</span>
<br><br>
Want me to describe me in one sentence ?
<br>
 I love financial engineering... the numbers game! Be it lotto, insurance schemes, pension schemes, banking, wherever numbers make magic I'm attracted to.  It's ironic how I failed my maths each chance I get but like Godfather said "every man has but one destiny" so here I am!
<br><br>
 You have to love numbers. Yesterday ( 24 Jan 2018 ) I came across an article on Investopedia about altcoins you can add to your cryptoasset holdings in 2018. It was a great read and I wished I could make such bold statements because people often take works like that as financial advise and most act upon it. Sometimes blindly.
<br><br>
But something more interesting got my attention. The writer was suggesting coins because they were about a dollar and seemed like a good deal. In my mind, I was like dude! You're in this game and you don't know your numbers ? You're ignoring market cap and circulating supply and focusing on price? That's a recipe for disaster, believe me!
<br><br>
I bet you don't want to be saying Cardano (ADA) coin price is $0.62 and Bitcoin is over $11k so Cardano has the greatest growth potential. It may have the greatest growth potential but not because price per coin is less than a dollar and it will be in the thousands in future looking at Bitcoin. Instead what you need to be looking at is the market cap of a coin divided by circulating supply which equals price per coin.
<br><br>
Mathematically,
<br>
MC / CS = Px
<br><br>
What does this tell us? The less the supply the better of it's chances to hit large numbers per coin. In my example above Cardano ( ADA ) has a circulating supply of 25.9 billion coins whereas Bitcoin has a circulating supply of only 16.8 million coins, get the picture?
<br><br>
Now, if Cardano ( ADA ) reaches the current market cap of Bitcoin, price per coin will be about $7.50. Yes, $7.50. Not $10 definitely not $100. Arm yourself with this knowledge you'll know cheap coins when you see one, if that's what you want.
<br><br>
Fall in love with numbers on your way to crypto riches and don't be like the other writer and many other investors buying into cheap coins hopping it grow into thousands of dollars per coin without looking at how the market cap influences its price.



<br><br>
<span style="font-weight: 700;">We will continue our next lesson tomorrow. Want to know what to do after this email course? Try your hands on some! See you tomorrow in your inbox!</span>

<br>
<br>
Best regards,<br>
Nathan.<br>
<a href="http://cryptofuor.com/">Cryptofuor.</a>
<br>
    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add nathan@cryptofuor.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AC 8011, Achimota - Accra, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>