<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1525425047/crytocoursehead_elosnq.jpg" alt="Crytofour Email course Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    
<span style="font-weight: 700; font-size: 14px;">[Lesson 3 <span style="font-weight: 300;">out of</span> 7]</span><br><br>
<span style="font-weight: 700">What are Alt coins. Why are there a lot of them?.</span>
<br><br>
Altcoins are cryptocurrencies or crypto assets that are alternative to Bitcoin. Bitcoin was the first
generation of cryptocurrencies and is focused on being a digital cash system. Bitcoin in it’s early years
was thought to be private and anonymous but was later found that wasn’t the case. It was discovered that
through the Bitcoin blockchain every transaction that has ever taken place on the network is recorded on
an immutable ledger which might make it possible to track each transation down to the identity of the
persons behind the transaction with the right tools.
<br><br> 
Since this point many other cryptocurrencies have
been invented with a focus on privacy and many others have been invented to serve as an internal utility
payment token on a platform.
Below are the top 5 Altcoins
<br><br>

<span style="font-weight: 700;">Ethereum</span>
<br>
Ethereum is an open-source software platform for developers to build decentralized applications based on
Blockchain technology. It provides a decentralized virtual machine which can execute scripts through
nodes connected to the Ethereum public blockchain. It can be said that it’s an economy in itself with it’s
native token used to pay for services within the network. It’s native cryptocurrency is called Ether, it can
be transferred between Ether accounts from party A to B, it’s used to pay or compensate nodes that keep
the network secure for computation performed on the network. It also has an internal compensation
pricing mechanism called “Gas” which is used to control spam and distribute resources on the network.
<br><br>

<span style="font-weight: 700;">Ripple</span>
<br>
Ripple released in 2012 to enable secure, instant and nearly free global financial transactions of any size
with no chargebacks. It does this by representing fiat currencies with cryptocurrencies, commodity or any
other unit of account such as mobile munites or frequent flier miles of airlines. Ripple is built around a
public database or ledger and uses a concensus process that allows for payments, exchanges and
remmitance in a distributed process. It does all this through the Ripple Transaction Protocol. It’s
concensus ledger has a native cryptocurrency called Ripple and a unit of account, XRP. Ripple like other
cryptocurrency platforms, it’s decentralized and it can’t be shutdown.
<br><br>

<span style="font-weight: 700;">IOTA</span>
<br>
IOTA is overseen by the IOTA Foundation, a non-profit focused on making the technology work and
keeping it license-free for all developers to work with. IOTA is a cryptocurrency focused on providing
secure communications and payments between machines on the Internet of Things. There are lots of

things connected to the internet lately like cell phones, television, fridges, watches, even smart homes,
etc, and many more to be connected in the future. IOTA aims to provide a secure communication and
payment infrastructure for these devices without humans having to be present. In the future your car can
pay her parking ticket on her own with IOTA.
<br><br>

<span style="font-weight: 700;">DASH</span>
<br>
DASH is an open source cryptocurrency which aims to be the most user friendly based on Bitcoin
features with some advanced feature such as Private Send, InstantSend. Private Send means transactions
can be sent over the network from party A to B but with complete privacy by the use of an
implementation knowns as CoinJoin to obfuscate transaction input and output such that only parties
involved in the transaction will be able to read the exact details of the transaction and can’t be traced back
to parties in involved. However, only 1000 DASH maximum can be sent using PrivateSend. InstantSend
makes it possible to send transactions and have it confirmed near instant over the DASH network and at
the same time solve the problem of spending the same DASH twice yet without the longer confirmation
times which comes with the solution that prevents double spend.
<br><br>

<span style="font-weight: 700;">Litecoin</span>
<br>
Litecoin is oldest cryptocurrency after Bitcoin. In it’s early stages Litecoin was the silver to Bitcoin’s
gold in our digital era, I’m not sure if that still hold today. Litecoin is based on Bitcoin Core software with
a slight variation in the time is takes to confirm a transaction, increased number of coins that will ever be
in circulation and the hashing algorithms used to process transactions on the Litecoin network.
The difference is that Litecoin aims to release blocks every 2.5minutes compared to Bitcoin’s 10minutes
block time. These are the times it takes to mint new set of coins on both networks until it’s total supply is
reached.


<br><br>
<span style="font-weight: 700;">We will continue our next lesson tomorrow. Now that you know about bitcoin and crypto currency, we want to tell you why we believe in them. See you tomorrow in your inbox!</span>

<br>
<br>
Best regards,<br>
Nathan.<br>
<a href="http://cryptofuor.com/">Cryptofuor.</a>
<br>
    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add nathan@cryptofuor.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AC 8011, Achimota - Accra, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>