<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1525425047/crytocoursehead_elosnq.jpg" alt="Crytofour Email course Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    
<span style="font-weight: 700; font-size: 14px;">[Lesson 5 <span style="font-weight: 300;">out of</span> 7]</span><br><br>
<span style="font-weight: 700">Researching for bitcoin and crypto currency investments.</span>
<br><br>
I’ve heard countless of times that cryptocurrencies are in a bubble. At first, I was like the media and governments are at it again because people are making money off grid and they’re not getting a piece of the action. But what do I know about markets, market cycles and bubbles? Not much. In fact cryptocurrencies is my first love to the game of large numbers and markets so I resorted to history.
<br><br>
Indeed those who know were right. It was the same during the dot com bubble. Shares of companies 10x or more in weeks, sometimes days by changing their names to include “dot come”.
<br><br>
Indeed there’s nothing new under the sun. Kodak, a 120-years old company on the verge of collapse announced it was adopting blockchain technology and creating it’s own digital currency and it’s shares soared 120%. This even, is not the most recent one. Prior to Kodak, Long Island Iced Tea Corp… a beverage company changed it’s name to Long Blockchain Corp and saw it’s shares go almost 300% in a day. And guess what? These people don’t have any business in cryptocurrencies whatsoever.
<br><br>
This, however, is from traditional companies trading in a regulated market. So imagine what it’s like in the wild west of cryptocurrency’s unregulated markets?
<br><br>
There are several project chanting Blockchain technology yet they don’t have one. They don’t have a single line of code in their Github, yet they raised several millions of dollars because everyone wants to get a piece of the action before it hits mainstream if they ever will. FOMO working! Yes, Fear of Missing Out. People are basically going like shut up and take my money. But I say, No, Research. You don’t want to be the guy in the picture above who don’t even know what a whitepaper is...
 <br><br>
Here’s how you research a project you would want to throw money into.
<br><br> 
1.     Get on the project’s website. Yes, design counts. So look out for that first and foremost.
<br><br>
2.     Read the Whitepaper(s) afterwards. The whitepaper is the officially published papers of the project which includes everything from abstract ideas to how funds will be allocated and goals achieved.
<br><br>
3.     Check their GitHub repository for commits. Thus code to prove that indeed they have developers working on the project and not just marketing vaporware. How frequent they add new code to their repository shows how serious they are working.
<br><br>
4.     Look at the Roadmap. The roapmap will show you where the team have been and where they are at as well as where they are headed with the project. Ideally, good projects have lots of achievements on their roadmap which means progress has been made or they have a minimum viable product or both.
<br><br> 
5.     Look at the team. Good projects are backed by a team with a track record and are from industries related to what they hope to disrupt with Blockchain technology.
<br><br> 
With the above research methods you will have insight into why you would want to invest in a project and not just because they say they’re based on blockchain technology.

<br><br>
<span style="font-weight: 700;">We will continue our next lesson tomorrow. We will take a deeper dive into bitcoin investment. hold tight. This will be our last but one lesson. See you tomorrow in your inbox!</span>

<br>
<br>
Best regards,<br>
Nathan.<br>
<a href="http://cryptofuor.com/">Cryptofuor.</a>
<br>
    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add nathan@cryptofuor.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AC 8011, Achimota - Accra, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>