<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1525425047/crytocoursehead_elosnq.jpg" alt="Crytofour Email course Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    
<span style="font-weight: 700; font-size: 14px;">[Lesson 2 <span style="font-weight: 300;">out of</span> 7]</span><br><br>
<span style="font-weight: 700">The Misconceptions of Bitcoin and crypto currencies in general.</span>
<br><br>
Not long ago, most people thought Bitcoin as merely a passing fad or a hobby for crypto-geeks, even a
new Ponzi scheme, if they knew about it at all. Its unheard of nature made it easy to think its ultimate
future is failure to change the order of the day, then pushed to the side and left to die. It wasn't until
Bitcoin's exchange value topped $200 in April 2013 that most mainstream media outlets first took notice.
It even got the attention of some media outlets in Ghana who wrote articles about it in their online portal.
Bitcoin is everywhere these days.<br><br> In China, which now accounts for 50 percent of the daily global trade in
bitcoins, its price has skyrocketed. In the U.S., it was the subject of two U.S. Senate hearings. Silicon
Valley is betting millions on it, and Ben Bernanke, the top central banker in the U.S., said that
unregulated virtual currencies "may hold long-term promise." Over 100,000 Merchants in Nigeria now
accepts Bitcoin payments according to a 7 Jan. 2017 report by Bitcoin News. Learning about Bitcoin and
Blockchain in Ghana now is akin to knowing how to send an email when everyone else was sending snail
mail.
<br><br>
This does not however, mean that everything you get to read about Bitcoin is true. Lots of misconceptions
has been spread about the worlds most popular digital currency just like any new invention.
<br><br>
There several misconceptions about Bitcoin spread by mass media and below is three major ones.
<br><br>
<span style="font-weight: 700;">1.  Bitcoin is only good for money laundering and criminal activities.</span>
<br>
Bitcoin like all government backed currencies have been used in all sorts of trade, legal and illegal. But it
cannot be said that a particular government’s currency is only good for illicit trade because a group of
criminals chose to make it their favorite. Bitcoin by design does not require to know it’s users identity or
any personal information, even two persons in a trade do not require to know each other to transact and so
it became the favorite of cyber criminals. It first made to the limelight in 2011 when it became the
payment currency for several online Black markets for contraband. Most of which has been shut down by
the Federal Bureau of Investigation starting with the apprehension of Ross Ulbricht, the founder of the
most famous and first online Black Market for contraband: Silk Road.<br><br>
The price of Bitcoin dropped sharply but quickly recovered, and has since attained heights that would
have been unimaginable only weeks before the arrest of R. Ulbricht. And yet, even since that bust, the
media has lost no opportunity to tie Bitcoin to criminals in report after report. Bad actors and criminals
who exploit financial services is not unique to virtual currencies alone.<br><br>
At the same time, on the other hand, there has been a growing economy of legitimate Bitcoin companies.
Many of which was funded by venture capitalist and several businesses accepting Bitcoin payments.
Research firm CB Insights said Bitcoin companies have received as much as much as $12 million USD in
funding from venture capitalist between April and June 2013.
<br><br>
<span style="font-weight: 700;">2.  Bitcoins can only be used online.</span>
<br>
When Bitcoin was invented, in it’s early days, it was thought of as geeks playground and not for the
average Joe. It was used almost entirely by this group of people in exchange for services such as web
development, graphic design, in-game items and the like so it was thought Bitcoin is only good for the
internet because no one was accepting Bitcoin payments. Now Bitcoin payments is accepted for anything
from hiring a lawyer to getting a haircut. You can find businesses that accept Bitcoin using an app called
Bitmap on iOS or Android.
<br><br>
<span style="font-weight: 700;">3.  Bitcoins can easily be stolen.</span>
<br>
Like email address that came before Bitcoin, users need to properly secure their wallets by backing them
up and encrypting them with strong password and 2-Factor authentication ( where you’re required to enter
a one-time code sent to your mobile phone after entering your password )<br><br>
Just like any new tech, think the email in it’s early days, was prone to hacks and even online banking.
Bitcoin suffered the same fate in it’s early days. Bitcoin exchanges who act as a medium between Bitcoin
sellers and Buyers lost millions of dollars to hackers. The most popular and first of it’s kind being the
hack of the famous Japanese exchange Mt. Gox which resulted in the loss of 850,000 BTC which is about
$9B USD in todays Bitcoin exchange rate.
<br><br>
Users need to properly secure their wallets, and that means backing them up and encrypting them. Offline
wallets are the safest way one can store their bitcoins, and even these should be backed up.<br><br>
Malicious and criminal hackers have been successful at stealing large amounts of bitcoin in the past, but
that doesn't mean the cryptocurrency isn't safe. Most bitcoin thefts were a result of insufficient wallet
security, and since then risk-mitigating measures have been taken. And more advance wallet security
feature have been implemented. Security in most cases depend on the user.

<br><br>
<span style="font-weight: 700;">We will continue our next lesson tomorrow. There are other coins apart from bitcoin. They are called Alt coins. We will learn abou them. See you tomorrow in your inbox!</span>

<br>
<br>
Best regards,<br>
Nathan.<br>
<a href="http://cryptofuor.com/">Cryptofuor.</a>
<br>
    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add nathan@cryptofuor.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AC 8011, Achimota - Accra, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>