<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1525425047/crytocoursehead_elosnq.jpg" alt="Crytofour Email course Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    
<span style="font-weight: 700; font-size: 14px;">[Lesson 7 <span style="font-weight: 300;">out of</span> 7]</span><br><br>
<span style="font-weight: 700">What are your next steps. Buy some Bitcoin!</span>
<br><br>
Now that you understand what Bitcoin is and where to keep them why not buy your first Bitcoin and
Welcome yourself to the world of cryptocurrencies or crypto assests as some of us like to call it.
Because we don’t have real Bitcoin exchanges in Ghana yet, buying Bitcoin in Ghana has been done OTC
or Over The Counter with the use of Mobile Money just so seller and buyer can be sure there’s a trusted
third party in the middle handling KYC/AML concerns and ensuring everything goes right.<br><br> Sometimes
you get to find peers with Bitcoin to sell and transact face to face with cash. Bitcoin transaction by design
is irreversible and malicious people never miss an opportunity to take advantage of the new guy on the
block.
<br><br>
We strongly advise you buy your first Bitcoin from <a href="http://bitcoindua.com/">www.bitcoindua.com</a>, who are the owners of this
blog. And where you can trust you’ll be treated fairly by offering you the best rates, excellent customer
service and speed. You can also sell your Bitcoin to us whenever you want to cash out for fiat currency.
<br><br>
Disclaimer: Investment is risky. As much as we believe in Bitcoin and altcoins, no one can tell what the
future holds for all cryptocurrency and so please invest what you can comfortably afford to lose.


<br><br>
<span style="font-weight: 700;">You can read all you can. It is very helpful. But the best way to learn about bitcoin is by buying and trading for hands on experience.<br><a href="http://bitcoindua.com/">Vist Bitcoindua.com</a></span>

<br>
<br>
Best regards,<br>
Nathan.<br>
<a href="http://cryptofuor.com/">Cryptofuor.</a>
<br>
    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add nathan@cryptofuor.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AC 8011, Achimota - Accra, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>