  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
<p> Dolllar equiv: 
<output name="x" for="a b"></output>
</p>
  <div class="field">
    <%= f.label :converted %>
    <%= f.text_field :converted %>
  </div>

 