<style type="text/css">

.bitcoinexratesect{
  position: relative;
  top: 0px;
  background-color: #f48708;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.ratehead{
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.formholdsubscrip{
	margin-top: 80px;
	margin-bottom: 30px;
}

.subscribehead{
	text-align: center;
	font-size: 30px;
	color: #61a143;
}

.newsubbody{
	background:linear-gradient(0deg,rgba(97, 161, 67,0),rgba(97, 161, 67,0)),url(https://res.cloudinary.com/nikasemo/image/upload/v1511118238/btcf_cjuca1.jpg);
  background-position:center;
}

</style>

<body style="background-color: #f2f2f2;" class="newsubbody">

<section class="formholdsubscrip">

<%= render 'form', crytosubscription: @crytosubscription %>

</section>

<section class="bitcoinexratesect">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="ratehead" style="color: #000000;">VALUE WE GIVE YOU</h4>
      <hr class="worksdivider">
      <br>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
      <p class="" style="text-align: center; padding: 10px; color: #fff; font-weight: 300; font-size: 20px; margin-bottom: 50px;">
       <span>Buy / Sell</span><br>
       <span style="font-weight: 700;">Buy and sell bitcoin</span><br>
       <span><i class="fa fa-4x fa-btc" aria-hidden="true"></i></span>
      </p>
      </div>
      <div class="col-lg-4">
      <p class="" style="text-align: center; padding: 10px; color: #fff; font-weight: 300; font-size: 20px; margin-bottom: 50px;">
       <span>Exhange Bitcoin</span><br>
       <span style="font-weight: 700;">Exchange to other Currencies</span><br>
       <span><i class="fa fa-4x fa-exchange" aria-hidden="true"></i></span>
      </p>
      </div>
      <div class="col-lg-4">
      <p class="" style="text-align: center; padding: 10px; color: #fff; font-weight: 300; font-size: 20px; margin-bottom: 50px;">
       <span>News</span><br>
       <span style="font-weight: 700;">Latest news on Bitcoin</span><br>
       <span><i class="fa fa-4x fa-newspaper-o" aria-hidden="true"></i></span>
      </p>
      </div>
      <div class="col-lg-4">
      <p class="" style="text-align: center; padding: 10px; color: #fff; font-weight: 300; font-size: 20px; margin-bottom: 50px;">
       <span>Secure</span><br>
       <span style="font-weight: 700;">Secure Transactions</span><br>
       <span><i class="fa fa-4x fa-shield" aria-hidden="true"></i></span>
     </p>
      </div>
       <div class="col-lg-4">
      <p class="" style="text-align: center; padding: 10px; color: #fff; font-weight: 300; font-size: 20px; margin-bottom: 50px;">
       <span>Value for $</span><br>
       <span style="font-weight: 700;">Value for your Money</span><br>
       <span><i class="fa fa-4x fa-smile-o" aria-hidden="true"></i></span>
      </p>
      </div>
    </div>
  </div>
</div>
</section>

</body>