<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dream Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #f2f2f2;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1515573500/emailheadercrytofuor_wcsvkw.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 15px; font-weight: 300;">
  <%= @crytosubscription.name %>,<br> 
 
<br><br>

Everybody is jumping on the Bitcoin bandwagon trying to get rich. But who doesn’t want to get rich afterall ?

<br><br>

Well all want to.

<br><br>

But truth is, most of the people coming into crypto now trying to buy and hold Bitcoin might be buying the top. Analyst and crypto celebrities predict that 2018 will be the biggest year for Bitcoin looking at all the institutional money ready to flow in. Who knows, Bitcoin might be worth 5x or 10x more than it’s current rate. That’s impressive but this is what you don’t know, you won’t be the next crypto millionaire. Yes you heard that right! You WON’T be a crypto millionaire buying the top! And sadly but true, you’ll not not survive the crypto bubble buying the top.

<br><br>

Think about it, early adopters bought Bitcoin at $444, $30, $50, $1, for some a lot less. You want to be an early adopter of the next big thing. Again, think about it, who ever thought Apple could outshine Blackberry ? Or Google could outshine Yahoo! ? I mean at one point all email addresses was at Yahoo dot com like today every cryptocurrency got to be Bitcoin! Bitcoin led the revolution but I doubt it will be the king for long.

<br><br>

Now you might be asking this same question new guys ask! How do I know the next big thing or things to invest in?

<br><br>

That’s a valid question. With over one thousand alternatives, meaning one thousand whitepapers and one thousand research work into all of this, it is indeed a daunting task and so it’s easy to get lazy and buy the top as it stands. But that’s risky considering the total market cap of the entire crypto market over half a trillion dollars with most projects at billions of dollars in valuation with nothing to show for their valuation, we’re in a bubble, there’s no doubt. And you would want to be on the right side of the bubble so you don’t lose your shirt trying to get rich. Subscribe to our service to secure your place as a value crypto investor and guarantee your place in the next generation of crypto millionaires.


<br><br><br>


To the next millionaires,

<br>

Cryptofuor.

<br><br><br><br>

    
  </td>
 </tr>
 <tr>
  <td bgcolor="#f48708" style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="75%">
  <span style="color: #f2f2f2;">&reg; Cryptofour.com, 2018</span><br/>
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://web.facebook.com/Cryptofuor-134517460560343/">
     <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512460034/fblogo_qivpnj.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>