<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dream Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #f2f2f2;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1515573500/emailheadercrytofuor_wcsvkw.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 15px; font-weight: 300;">
  <%= @crytosubscription.name %>,<br> 
 
<br><br>

So you want you play the numbers game? That’s a bold decision because most of us are not used to dealing with numbers like the money men.

<br><br>

For most of us cryptocurrencies is our first taste of the stock market kind of investing. You might be thinking of your ability to read the charts and make well calculated investment decisions. But mind you, Isaac Newton, the famous scientist, he’s not dumb! He lost all his lifesavings in the market.

<br><br>

“ I can calculate the movement of heavenly bodies but not the madness of men.” That’s what he said.

<br><br>

That’s how real the crypto jungle can get. It’s madness!!

<br><br>

Seriously, it’s risky like all other investment and it might as well be in a bubble looking at all the signs on the wall.

<br><br>

I remember I was once in a private chat room of an obscure cryptocurrency when a new guy joined the chat.

<br><br>

“ Hello guys, I’ve heard so many good things but there haven’t been enough time for any kind of research. Well, the name’s cool. I’m sold”

<br><br>

Like really? Right there and then I confirmed we’re in a bubble but good thing is, it’s relatively young compared to the Dot Com bubble which grew to a couple of trillion dollars. Bubbles are not necessarily a bad thing if you happen to be on the right side. There’s an enormous amount of money to be made. And you want to be in the market before the dumb money arrive so you can sell them the top and take some massive profit. That’s how it’s done, buy low sell high!

<br><br>

But how do you’re know you’re on the right side ? In fact how do you know your money is not dumb ? Risk it? No! No way! We’ve made all the mistakes so you don’t, made all the right connections so you don’t have to and most importantly we’ve multiplied the value of our portfolio in such a short time and it’s amazing! No need to risk it. It’s lonely at the top subscribe to our expert service at a discounted price for a limited time to join the ranks and let’s have fun at the top when it’s all said and done!
<br><br><br>


To the next millionaires,

<br>

Cryptofuor.

<br><br><br><br>

    
  </td>
 </tr>
 <tr>
  <td bgcolor="#f48708" style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="75%">
  <span style="color: #f2f2f2;">&reg; Cryptofour.com, 2018</span><br/>
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://web.facebook.com/Cryptofuor-134517460560343/">
     <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512460034/fblogo_qivpnj.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>