<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dream Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #f2f2f2;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1515573500/emailheadercrytofuor_wcsvkw.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 15px; font-weight: 300;">
    Hello <%= @crytosubscription.name %>,<br> 
 
<br>


So you’re thinking about investing in cryptocurrencies ? Well you’ve made the right call and soon you’ll want to give me your GHS 1,033 and for a good reason!
<br>
Let’s not even think about money now, instead let’s look at it this way… Everyone dreams of financial freedom right ? Everybody! But how do you plan to go about it without ending up in the same cycle as most of the people who tried ?
<br>
Now how is exponential wealth created ? I’m not saying I have all the answers but let’s look at this:
<br><br>


- It took Bill Gates from Microsoft twelve years to become a billionaire.
<br>
- It took Sergey Brin and Larry Page from Google eight years to become billionaires
<br>
- It took Jeff Bezos from Amazon four and a half years to become a billionaire
<br>
- It took Mark Zuckerberg from Facebook four years to become a billionaire
<br>
- It took Jay Walker from Priceline ONE YEAR to become a billionaire!
<br>
<br>

What do all these people have in common? They all used business leverage:

<br>
<br>
- Other people’s time
<br>
- Other people’s money
<br>
- Other peoples talents
<br>
- An unfair technological advantage.

<br>
<br>
Of the the four above let’s talk about An unfair technological advantage. You see, ecommerce has been around since ‘98 in the West but it wasn’t until around 2014 – 15 that I saw ecommerce being a thing in Ghana and most of Africa. That’s about 15 to 16 years before it got here. Think about it, 15yrs!!
<br>


That’s why I’m happy you decided to take the plunge deep into Internet 2.0, the Internet of Money. You’ll be ahead of 99 maybe 99.5% of the people before they come to understand what all this numbers madness is about. Thus you’ll be using the last on our list of business leverages, which is great!

<br>


Again, for a good reason. The dream, the beautiful life of making money while you sleep is within reach. What would you do if you could 10x your investment capital in a year ? What about 20 or 30x ?

<br>

Now, I’m not here to sell you dreams of getting rich. Take a look at the picture from my broken iPad screen which I took on 5 Sep 2016 as proof of my disposition!

<br>
<br>
<img src="https://res.cloudinary.com/nikasemo/image/upload/v1515670168/image1_ziyjz4.jpg">
<br>
<br>

At the time Bitcoin was trading at around $598 USD. As I write this, Bitcoin is now trading at around $18000! Now, do the maths. Don’t believe me ? Look at another picture from my iPhone 5 of that same year 08 Oct.
<br>
<br>

<img src="https://res.cloudinary.com/nikasemo/image/upload/v1515670030/image2_ja0pco.png">

<br>
<br>

My 4.4094 BTC ($2,714.47) then is $79,369 USD today!

<br>

You think Bitcoin has made lots of millionaires and billionaires ? Brace yourself, this is just the beginning. Cryptocurrencies are here to stay! You’re about to take the front seat in a very important industry in it’s infancy and be part of the nouvaux riche!

<br>

This is why you would want to give me your hard earned GHS 1,033 so me and my team of experts will help you navigate the wild west of cryptocurrencies and guarantee you some nice profits, less risk and less regrets in this numbers jungle. Now let’s be clear, if your investment capital is in the 100’s this might not be for you.

<br>

You’ll get:
<br>


* Lifetime access to my personal cryptocurrency portfolio including updates	- GHS 700
<br>
* Lifetimes access to my insider recommendations on the next big thing in cryptocurrencies -GHS 800
<br>
* Lifetime access to short term trades	- GHS 500
<br>
* A guide on how to navigate the markets	- GHS 300
<br>
* A Beginner to Masters guide on cryptocurrency storage and security	- GHS 300
<br>
* Discounts on cryptocurrency related products such as hardware wallets, etc.	- Over GHS 500
<br>
* Discounted and/or free tickets for Cryptofuor cryptocurrency meetups	- GHS 300
<br>
<br>


<strong>A value of GHS 3,400 being offered for an insane discount of GHS 1,033</strong>

<br><br>

This offer is for a limited time and for a limited number of people. Click here to join and take charge of your financial freedom !!
<br>
<br>
<br>



    
  </td>
 </tr>
 <tr>
  <td bgcolor="#f48708" style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="75%">
  <span style="color: #f2f2f2;">&reg; Cryptofour.com, 2018</span><br/>
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://web.facebook.com/Cryptofuor-134517460560343/">
     <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512460034/fblogo_qivpnj.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>