 <style type="text/css">
.foothead{
  color: #ffffff;
  font-weight: 700;
  font-family: 'Asap Condensed', sans-serif; 
}

.imagebg{
    background:linear-gradient(0deg,rgba(97, 161, 67, 0.9),rgba(97, 161, 67, 0.9)),url(https://res.cloudinary.com/nikasemo/image/upload/v1511138272/worldmapbg_dvf9gv.jpg);
    background-position:center;
}

 </style>



 <footer class="py-5 imagebg">
      <div class="container">
        <div class="row">
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Overview</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Blog</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Relevant Links</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Bitcoin.com</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Ethereum.com</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Changelly.com</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FLyp.me</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">99bitcoins.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Support</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Contact Us</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQ's</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
             <h5 class="foothead">Visit Our Social Media</h5>
             <span><a href=""><i class="fa fa-facebook-official fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-twitter-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-instagram fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-google-plus-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Bitcoindua, 2017</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   